body {
  margin: 0;
  background: #f6f7fa;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  max-width: 1250px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
