.blog-header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__text {
    margin: auto;
    background: linear-gradient(#F9D423, #FF4E50);
    font-style: italic;
    font-weight: 800;
    padding: .5rem;
    font-size: 48px;
    cursor: pointer;
  }
}