.ticket-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 24px;
  padding-right: 24px;
}

.ticket-list-header__name {
  margin: auto!important;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
